/* styles/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-size: 1.2em;
}

body {
  background-color: #ffbbbb;
}

#background_div {
  margin: auto;
  width: 1024px;
  height: 1521px;
  background-image: url("../images/bg.jpg");
  opacity: 0.3;
}
